@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;500;600;700;800;900&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;


*{
      /* outline: 1px solid red; */
}

:root{
      font-family: 'Montserrat', sans-serif;
}

.scrollbar::-webkit-scrollbar {
  width: 5px;
}
    
.scrollbar::-webkit-scrollbar-track {
  background: transparent;
}
    
.scrollbar::-webkit-scrollbar-thumb {
  background: theme('backgroundImage.accentGD');
}
    